<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'TAB1.TITLE' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="assets/imgs/logo.jpg"></ion-img>
  <div class="container">
    <h2 class="subtitle">{{ 'TAB1.SUBTITLE' | translate }}</h2>

    <div class="content-container">
      <div class="content-header">Test Translations</div>
      <div class="button-container">
        <ion-button
          (click)="changeLanguage('de')"
          [disabled]="activeLang === 'de'"
          >{{ 'TAB1.GERMAN' | translate}}</ion-button
        >
        <ion-button
          (click)="changeLanguage('en')"
          [disabled]="activeLang === 'en'"
          >{{ 'TAB1.ENGLISH' | translate}}</ion-button
        >
      </div>
    </div>

    <div class="content-container">
      <div class="content-header">Test state</div>
      <ion-item>
        <ion-label position="stacked"
          >{{ 'TAB1.USER_NAME' | translate}}:</ion-label
        >
        <ion-input
          (ionChange)="updateState($event)"
          [placeholder]="'TAB1.TYPE_HERE' | translate"
        ></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label>User:</ion-label>
        <h4>{{ username$ | async }}</h4>
      </ion-item>
    </div>
  </div>
</ion-content>
